
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignLanguageHandWritten</title>
     <!--bootstrap link--> 
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        @media(min-width:999px){
            .navbr{
                position:relative;
                left:120px;

            }
            .navbg
        {
             background-color: red;
        }
        .section{
            position:relative;
            top:100px;
        }
        .bgimag
        {
            background-image: url();
         
        }
        }
    </style>
</head>
<body>
    <!--nav--> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="{% static 'image/logo.png' %}">&nbsp;SignLanguageHandWritten</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbr collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link active" href="/register">Register</a>
              <a class="nav-link active" href="#">Login</a>
              <a class="nav-link active" href="/video_stream">Camera</a>
              
            </div>
          </div>
        </div>
      </nav>
    <!--/nav-->
  {% block content %}   



  {% endblock %}
  <!-- js -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>